
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>
<h1>{{screamIt pageTitle}}</h1>
<menu style="float:left; border-right: 1px solid black">
    <p><a href="/">Home</a></p>
    <p><a href="about">About</a></p>
</menu>
