<!DOCTYPE html>
<html>

  <body>
      <div style="float:left;margin:0px 10px;" class="red">
        <p>Site is beign updated</p>
      </div>
      <div style="clear: both"></div>

  </body>
</html>
</>
