<!DOCTYPE html>
<html>

  <body>
      {{> header}}

      <div style="float:left;margin:0px 10px;" class="red">
        <p>potrfolio here</p>
      </div>
      <div style="clear: both"></div>
      {{> footer}}
  </body>
</html>
</>
